global
   log /dev/log local0
   log /dev/log local1 notice
   chroot /var/lib/haproxy
   stats timeout 30s
   user haproxy
   group haproxy
   daemon

defaults
   mode http
   log global
   option httplog
   option dontlognull
   timeout connect 5000
   timeout client 50000
   timeout server 50000

###########################

listen stats
  bind    *:9000
  mode    http
  stats   enable
  stats   hide-version
  stats   uri /stats
  stats   refresh   30s
  stats   realm     Haproxy\ Statistics
  stats   auth      Admin:Password

###########################

frontend http_front
   bind *:80
   stats uri /haproxy?stats
   default_backend http_back

backend http_back
  balance roundrobin
  option forwardfor
  #server synology 10.10.0.217:80 check
  server pi01 10.10.0.147:31423 check
  server pi02 10.10.0.148:31423 check
  server pi03 10.10.0.26:31423 check
  server kc1 10.10.0.43:31423 check

###########################

frontend sonarr_front
   bind *:8989
   use_backend k8s_sonarr_back

backend k8s_sonarr_back
  balance roundrobin
#  server pi01 10.10.0.147:32402 check
#  server pi02 10.10.0.148:32402 check
#  server pi03 10.10.0.26:32402 check
#  server kc1 10.10.0.43:32402 check
#  server sonarr0 10.10.0.30:8989
#  server sonarr1 10.10.0.32:8989
  server son1 10.10.0.23:8989

###########################

frontend k8s_sabnzb_front
  bind *:8080
  use_backend k8s_sabnzb_back

backend k8s_sabnzb_back
  balance roundrobin
  server pi01 10.10.0.147:32401 check
  server pi02 10.10.0.148:32401 check
  server pi03 10.10.0.26:32401 check
  server kc1 10.10.0.43:32401 check

###########################

frontend k8s_couchpotato_front
  bind	*:5050
  use_backend k8s_couchpotato_back

backend k8s_couchpotato_back
  balance roundrobin
  server pi01 10.10.0.147:32403 check
  server pi02 10.10.0.148:32403 check
  server pi03 10.10.0.26:32403 check
  server kc1 10.10.0.43:32403 check

###########################

frontend k8s_jenkins_front
  bind	*:8081
  use_backend k8s_jenkins_back

backend k8s_jenkins_back
  balance roundrobin
  server pi01 10.10.0.147:30661 check
  server pi02 10.10.0.148:30661 check
  server pi03 10.10.0.26:30661 check
  server kc1 10.10.0.43:30661 check
